$pink: #c96bd9;
$red-orange: #dc6e6e;
$sky-blue: #6ac1d4;
$white: #fff;
$white-100: #fbfbfb;
$white-200: #efefef;
$grey-100: #a39b9b;

$font-color: #0a0a0a;
$input-placeholder: #211f1f;
$input-border: #a0a0a0;
